services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Tests\Behat\:
        resource: '../tests/Behat/*'


    App\Context\Marketing\Application\INotifySender: '@App\Tests\Behat\Stub\StubNotifier'